:root{
    --french-gray: #B8B8D1;
    --ultra-violet: #5B5F97;
    --xanthous-: #FFC145;
    --baby-powder: #FFFFFB;
    --light-red: #FF6B6C;
}

*{
    margin: 0 auto;
    padding: 0;
    width: auto;
}

body{
    min-width: 50rem;
}

header{
    height: 20%;
    background-color: var(--light-red);
    border: .25rem solid var(--ultra-violet);
}

main{
    display: flex;
    flex-flow: row;
    height: 70%;
    border-right: .25rem solid var(--ultra-violet);
    border-left: .25rem solid var(--ultra-violet);
}

footer{
    height: 10%;
    background-color: var(--xanthous-);
    border: .25rem solid var(--ultra-violet);
}

nav{
    width: 25%;
    height: 100%;
    border-right: .25rem solid var(--ultra-violet);
    background-color: var(--french-gray);
}

nav ul, nav li{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-top: 4rem;
    margin-left: 4rem;
}

nav li{
    margin-top: .25rem;
    margin-bottom: .25rem;
}


#content{
    width: 75%;
    height: 100%;
    background-color: var(--baby-powder);
}