:root{
    --french-gray: #B8B8D1;
    --ultra-violet: #5B5F97;
    --xanthous-: #FFC145;
    --baby-powder: #FFFFFB;
    --light-red: #FF6B6C;
}


@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    width: auto;
}

body{
    min-width: 465px;
}

h1, h2, p, a{
    font-family: 'Patua One', cursive;
}


header{
    height: 20%;
    background-color: var(--light-red);
    border: .25rem solid var(--ultra-violet);

    text-align: center;
}

header h1, header h2{
    color: var(--xanthous-)
}

header h1{
    margin-top: 1.5rem;
    font-size: 2.5rem;
}


main{
    display: flex;
    flex-flow: row;
    height: 70% auto;
    border-right: .25rem solid var(--ultra-violet);
    border-left: .25rem solid var(--ultra-violet);
}

footer{
    height: auto;
    background-color: var(--xanthous-);
    border: .25rem solid var(--ultra-violet);

    text-align: center;
}

footer h2{
    margin-top: 1rem;
    font-size: 1.75rem;

    color: var(--light-red);
}

nav{
    width: 35%;
    height: auto;
    border-right: .25rem solid var(--ultra-violet);
    background-color: var(--french-gray);
}

nav ul, nav li{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 1rem;
    line-height: 8rem;
}

nav button{
    background-color: var(--ultra-violet);
    color: var(--baby-powder);
    border: .2rem solid var(--xanthous-);

    width: 6.5rem;
    height: 2.5rem;
}

nav button:hover{

    background-color: var(--baby-powder);

    color: var(--xanthous-);

    border: .2rem solid var(--light-red);
}

nav button:visited{
    background-color: var(--light-red);

    border: .2rem solid var(--baby-powder);
}


#content{
    display: flex;
    flex-flow: column;


    width: 90% auto;
    height: auto;
    background-color: var(--baby-powder);
    text-align: left;
}

#content div{
    width: auto;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;

}

#content div h2{
    font-size: 2rem;
    margin-left: 1.25rem;
}

#content div p{
    font-size: 1.25rem;

    margin-top: .75rem;
    margin-left: 1.5rem;
    text-indent: 1.5rem;
    line-height: 1.5rem;
}

figure{
    margin: 0 auto;
    display: block;
}

figure img{
    width: 100%;
    max-height: 75%;

    margin-top: 4rem;

    border: .25rem solid var(--ultra-violet);
}


@media all and (min-width: 769px) {
    main{
        flex-flow: column;
    }

    nav{
        width: 100%;
        height: 35%;

        border-right: none;

        border-bottom: .25rem solid var(--ultra-violet);
    }

    nav ul{
        width: auto;

        flex-direction: row;
        justify-content: space-around;
        line-height: 0;
        gap: .5rem;
    }

    nav button{
        margin-top: .5rem;
        width: 5rem;
        height: 3rem;
    }

    #content{
        flex-flow: row;
        width: auto;
        height: 65%;
    }

    #content div{
        max-width: 50%;
    }

    figure{
        max-width: 25%;
    }
}

@media all and (min-width: 1024px) {
    #content div h2{
        font-size: 3rem;
    }
    
    #content div p{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    header{
        height: 30%;
    }

    footer{
        height: 20%;
    }

    header h1{
        margin-top: 2.5rem;
        font-size: 3.25rem;
    }

    footer h2{
        margin-top: 2rem;
        font-size: 2.25rem;
    }
}