:root {
  --color-bg: #CEF0E3;
  --color-hf: #88B6A4;
  --color-h1: #0f1d18;
  --color-h2: #294D3F;
  --color-p: #224335;
  --color-a: #1A3027;
  --color-a-hover: #5F7A6F;
}

/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html{
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */


body{
    margin: 0 auto;
    background-color: var(--color-bg);
}

header, footer{
    margin: 0 auto;
    
    background-color: var(--color-h2);
    border: .25rem solid var(--color-h1);

    text-align: center;
    width: auto;
    height: 15% auto;
}


footer h2{
    color: var(--color-h1);

    margin-top: 2.25rem;
    font-size: 1.5rem;
}

header h1{
    color: var(--color-h1);

    margin-bottom: .25rem;
    font-size: 2rem;
}

header h3{
    margin-bottom: 1rem;
    font-size: .85rem;
}


#sidebar{
    padding: .5rem;

    background-color: var(--color-hf);

    text-align: center;

    width: 25% auto;
    height: auto;

    border-left: .25rem solid var(--color-h1);
    border-right: .25rem solid var(--color-h1);
}

#sidebar a{
    margin: 0 auto;
    padding-top: 20%;
    padding-bottom: 20%;
    display: block;
    color: var(--color-a);

}

#pcontent{
    width: 75%;
    height: auto;
}

#pcontent p{
    text-indent: 2rem;
    color: var(--color-p);

    margin: .5rem 1rem 1.5rem 1.5rem;
    padding-bottom: 1rem;
    font-size: .95rem;
}

#pcontent h3{
    color: var(--color-h2);

    margin-left: .75rem;
}

#content{
    display: flex;
    flex-flow: row;
}

footer{
    width: 100%;
    height: 15%;
}


/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {

    footer h2{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    header h1{
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    #content{
        flex-flow: column;
    }
	
	#sidebar{
        border-bottom: .25rem solid var(--color-h1);
    
        width: auto;
        height: 25%;
    }
    
    #sidebar a{
        padding-top: 5%;
        padding-bottom: 5%;

        padding-right: 2%;
        padding-left: 2%;

        display: inline-block;
    
    }

    #pcontent{
        width: auto;
        height: 75%;
    }
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {

    #pcontent h3{
        font-size: 1.75rem;
    }

    #pcontent p{
        font-size: 1.25rem;
    }

    #sidebar a{
        padding-top: 2.5%;
        padding-bottom: 2.5%;

        padding-right: 2.5%;
        padding-left: 2.5%;
    }
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
    #sidebar a{
        padding-top: .5%;
        padding-bottom: .5%;

        padding-left: 5%;
        padding-right: 5%;
    }
	
	
} /* closes 1024px+ */





