@font-face {
    font-family: 'Earth Orbiter';
    src: url('earthorbiter/EarthOrbiter.woff2') format('woff2'),
        url('earthorbiter/EarthOrbiter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Earth Orbiter';
    src: url('earthorbiter/EarthOrbiterBold.woff2') format('woff2'),
        url('earthorbiter/EarthOrbiterBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Earth Orbiter Title';
    src: url('earthorbiter/EarthOrbiterTitle.woff2') format('woff2'),
        url('earthorbiter/EarthOrbiterTitle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border: .1rem solid red;
    height: 20%;
    text-align: center;
}

main{
    height: auto;
    border: .1rem solid green;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

footer{
    border: .1rem solid blue;
    height: 10%;
}


header > h1{
    font-family: 'Earth Orbiter';
    padding: 2.5rem 0;
}


main > section{
    display: flex;
    flex-flow: column;
    border: .1rem solid pink;
    margin: 1rem 2rem;
}

figure.responsive {
    border: .25rem solid white;
    position: relative;
    margin: 1rem;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

section > button
{ 
    font-size: 3rem;

    display: block;

    height: 4rem;
    width: 100%;
}


#hidden-1, #hidden-2,#hidden-3{
    display: none;
}