
:root{
    --poly-green: #2F4B26;
    --sea-green: #3E885B;
    --cambridge-blue: #85BDA6;
    --uranian-blue: #BEDCFE;
    --tea-green: #C0D7BB;
}

*{
    margin: 0;
    padding: 0;
    width: auto;
    text-decoration: none;
}



header{
    background-color: var(--poly-green);
    height: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding-top: 2rem;
}

header h1{
    margin: 1.5rem 0;
}

footer{
    background-color: var(--poly-green);

    padding: 1.5rem;
    height: auto;
    text-align: center;
    
}

footer h1{
    font-size: 1.75rem;
    margin: 1.75rem 0;
}

main{
    height: auto;
    display: flex;
    flex-flow: column;

    border-top: .1rem solid black;
    border-bottom: .1rem solid black;
}

figure{
    display: block;
    height: auto;
    max-width: 30rem;
}

figure img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

.mobile{
    visibility: visible;
    width: auto;
    height: auto;
}

.desktop{
    visibility: hidden;
    width: 0;
    height: 0;
}

header nav{
    background-color: var(--sea-green);

    border-top: .1rem solid black;

    padding: .5rem;
    margin-top: 1rem;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

header button{
    background-color: var(--uranian-blue);
    height: 2rem;
    width: 4rem;
    border: .1rem solid black;
}

header #drop{
    overflow: hidden;
}

header #drop-content
{
    display: none;
    position: absolute;
}

header #drop-content button
{
    border-top: none;

    border-right: .1rem solid black;
    border-left: .1rem solid black;
    border-bottom: .1rem solid black;
}

header #drop-content a{
    float: none;
    display: block;
}

header #drop:hover #drop-content{
    display: block;
}

header #drop-content button:hover{
    background-color: whitesmoke;
}


main section{
    background-color: var(--tea-green);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    height: auto;
}

main section div{
    margin-top: 1rem;
    height: 25%;
    width: 85%
}

main > section > div > h1{
    text-align: center;
    margin-bottom: .5rem;
}

main > section > div > p{
    margin: 1rem 0;
    font-size: 1.5rem;
}

main section p{
    max-width: 40rem;
    margin-left: 1rem;
    text-indent: 1rem;
}

main section figure{
    border: .1rem solid black;
    margin: 1rem 0;
    height: auto;
    width: 85%;
}

main nav{
    background-color: var(--sea-green);

    height: auto;
}

ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem 0;
    row-gap: 1rem;
}


#a-section {
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
}

a section{
    background-color: var(--uranian-blue);

    border: .1rem solid black;

    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}


a section div{
    color: black;
    margin-top: 1rem;
    height: auto;
    width: 85%;
}

a section div h1{
    text-align: center;
    margin-bottom: .5rem;
}


a section figure{
    border: .1rem solid black;

    margin-bottom: 1rem;
    height: auto;
    width: 85%;
}







/*tablet*/
@media all and (min-width: 481px) {

    header button{
        height: 4rem;
        width: 6rem;
        font-size: 1rem;
    }

    ul{
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    li{
        width: 35%;
        margin: 1rem 0;
    }

    a > section > figure{
        margin-bottom: 1.5rem;
    }
	
	
}



/*laptop*/
@media all and (min-width: 769px) {
    main > section > div > h1{
        text-align: left;
    }

    main > section{
        gap: 2rem;
        padding: 0 2rem;
        flex-flow: row;
    }

    .mobile{
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .desktop{
        visibility: visible;
        height: auto;
        width: auto;
    }


    li{
        width: 40%;
        margin: 2rem 0;
    }

    a > section > figure{
        margin-bottom: 2rem;
    }

}



/*desktop*/
@media all and (min-width: 1024px) {
    li{
        width: 45%;
        margin: 4rem 0;
    }
}