
*{
    margin: 0;
    padding: 0;
    width: auto;
    text-decoration: none;
}


header{
    height: auto;
    border: .2rem solid red;
    text-align: center;
    display: flex;
    flex-flow: column;
}

header h1{
    margin: 1.5rem 0;
}

footer{
    height: 15%;
    border: .2rem solid yellow;
    text-align: center;
}

footer h1{
    font-size: 1.75rem;
    margin: 1.75rem 0;
}

main{
    height: auto;
    display: flex;
    flex-flow: column;
    border: .2rem solid green;
}

figure{
    display: block;
    height: auto;
}

figure img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

.mobile{
    color: red;
    visibility: visible;
    width: auto;
    height: auto;
}

.desktop{
    color: blue;
    visibility: hidden;
    width: 0;
    height: 0;
}

header nav{
    border: .2rem solid purple;
    margin-top: 1rem;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

header button{
    height: 2rem;
    width: 4rem;
}

header #drop{
    overflow: hidden;
}

header #drop-content
{
    display: none;
}

header #drop:hover #drop-content{
    display: block;
}

main section{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    height: 40%;
    border: .2rem solid yellowgreen;
}

main section div{
    margin-top: 1rem;
    height: 25%;
    width: 85%
}

main section p{
    margin-left: 1rem;
    text-indent: 1rem;
}

main section figure{
    margin-bottom: 1rem;
    height: auto;
    width: 85%;
}

main nav{
    height: auto;
    border: .2rem solid purple;
}

ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem 0;
    row-gap: 1rem;
}

li{
    border: .2rem solid aqua;
}

#a-section {
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
}

a section{
    height: auto;
    border: .2rem solid blue;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

section div{
    border: .2rem solid violet;
    color: black;
}

a section div{
    margin-top: 1rem;
    height: auto;
    width: 85%;
}

figure{
    border: .2rem solid orange;
}

a section figure{
    margin-bottom: 1rem;
    height: auto;
    width: 85%;
}







/*tablet*/
@media all and (min-width: 481px) {


    main section figure{
        height: 50%;
    }
    ul{
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    li{
        width: 30%;
        margin: 1rem 0;
    }
	
	
}



/*laptop*/
@media all and (min-width: 769px) {

    .mobile{
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .desktop{
        visibility: visible;
        height: auto;
        width: auto;
    }

    li{
        width: 40%;
        margin: 2rem 0;
    }

}



/*desktop*/
@media all and (min-width: 1024px) {
    li{
        width: 45%;
        margin: 4rem 0;
    }
}