@font-face {
    font-family: 'ArcadeClassic';
    src: url('fonts/ArcadeClassic.woff2') format('woff2'),
        url('fonts/ArcadeClassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VPPixel';
    src: url('fonts/VPPixel-Simplified.woff2') format('woff2'),
        url('fonts/VPPixel-Simplified.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --snes-violet: #b5b6e4;
    --snes-purple: #4f43ae;
    --snes-grey: #908a99;
    --snes-white: #cec9cc;
    --snes-black: #211a21;

    --cont-pad: .5rem;
    --col-height: 75rem;
    --dot-len: 1.25rem;

    --border-width: .3rem;
    --border-radius: 25px;

    --sect-el-margin: .75rem;
    --sect-el-fntsize: 1.15rem;

    --but-bor-width: .2rem;
    --but-bor-radius: 15px;
    --but-margin-H: 1rem;
    --but-margin-W: .5rem;
    --but-width: 10.5rem;
    --but-height: 4rem;
    --but-font-size: 1.5rem;

    --audio-width: 20rem;
    --img-len: 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 460px;
    background-color: var(--snes-black);
}

h1, h2{
    font-family: "ArcadeClassic";
    letter-spacing: .05rem;
}

h3, p, li{
    font-family: "VPPixel";
}

h1, h2, h3, p, li{
    color: var(--snes-black);
}

i{
    color: var(--snes-purple);
}

header{
    margin: var(--cont-pad);

    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    background-color: var(--snes-violet);
}

header > h1{
    letter-spacing: .1rem;
    font-size: calc(var(--sect-el-fntsize) * 2);
    margin: calc(var(--sect-el-margin) *2) 0 0 0;
}

header div > h2{
    font-size: calc(var(--sect-el-fntsize) * 1.5);
    margin: calc(var(--sect-el-margin) / 4) 0;
}

header div > h3:last-child{
    margin-bottom: calc(var(--sect-el-margin) / 4);
}

header > section{
    margin: calc(var(--sect-el-margin) * 2) 0;

    background-color: var(--snes-grey);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    width: 90%;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

header > section > figure{
    height: calc(var(--img-len) * 1.25);
    margin: var(--sect-el-margin);
    margin-right: 0;
    
    display: block;

    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
}

header > section > div{
    height: calc(var(--img-len) * 1.25);
    width: 90%;

    margin: var(--sect-el-margin);

    background-color: var(--snes-white);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);

    display: flex;
    flex-flow: column;

    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

main{
    margin: 0 var(--cont-pad);

    height: auto;
    display: flex;
    flex-flow: column;

    justify-content: center;
    gap: var(--cont-pad);
}

footer{
    margin: var(--cont-pad);

    background-color: var(--snes-violet);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

#column{
    display: flex;
    flex-flow: row;
    gap: var(--cont-pad);
}

#dots{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 99%;
    height: auto;
}

.top-dots{
    margin-bottom: 0;
    margin-top: calc(var(--sect-el-margin) / 2);
}

.bot-dots{
    margin-top: 0;
    margin-bottom: calc(var(--sect-el-margin) / 2);
}

.dot{
    margin: 0 calc(var(--sect-el-margin) / 4);

    border-radius: 50%;

    height: var(--dot-len);
    width: var(--dot-len);

    background-color: var(--snes-purple);
    color: var(--snes-black);

    text-align: center;
    display: table-cell;
    vertical-align:middle;

    font-size: var(--dot-len);
    font-weight: bolder;
}

#sidebar #dots{
    flex-flow: column;
    width: auto;
    height: 99%;
}

#sidebar .top-dots{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: calc(var(--sect-el-margin) / 2);
}

#sidebar .bot-dots{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: calc(var(--sect-el-margin) / 2);
}

#sidebar .dot{
    margin: calc(var(--sect-el-margin) / 4) 0;
}


#sidebar{
    background-color: var(--snes-white);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    gap: var(--but-margin-H);

    width: auto;
    height: calc(var(--but-height) + calc(var(--but-margin-H) * 2));
}

button{
    height: var(--but-height);
    width: var(--but-width);

    border: var(--but-bor-width) solid var(--snes-purple);
    background-color: var(--snes-violet);
    border-radius: var(--but-bor-radius);
    color: var(--snes-purple);

    text-align: center;
    font-family: "ArcadeClassic";
    font-size: var(--but-font-size);
}

#sidebar > a > button{
    font-size: var(--but-font-size);
}

#pagecontent{
    background-color: var(--snes-grey);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

#pagecontent > section{
    background-color: var(--snes-white);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    margin: var(--sect-el-margin) 0;

    width: 90%;
}


#pagecontent section > h1{
    font-size: calc(var(--sect-el-fntsize) * 1.25);
    text-align: center;

    padding: var(--sect-el-margin);
    margin: var(--sect-el-margin);

    color: var(--snes-black);
    background-color: var(--snes-violet);
    
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
}

#pagecontent section > p{
    font-size: var(--sect-el-fntsize);
    line-height: calc(var(--sect-el-fntsize) * 1.5);

    text-indent: var(--sect-el-fntsize);
    margin: var(--sect-el-margin);
}

#column #pagecontent:first-child{
    height: 95%;
}

#pagecontent #cards{
    border-width: var(--but-bor-width);
}

a > section{
    background-color: var(--snes-violet);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    
    margin: var(--sect-el-margin) calc(var(--sect-el-margin) / 2);

    display: flex;
    flex-flow: column;
    align-items: center;
}


a > section > div{
    margin: var(--sect-el-margin);

    background-color: var(--snes-white);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);

    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

a > section > div h1, p{
    margin: calc(var(--sect-el-margin) / 4);
    color: var(--snes-black);
}

a > section > div h1{
    font-size: calc(var(--sect-el-fntsize));
}

a > section > div p{
    font-size: calc(var(--sect-el-fntsize) / 1.25);
}

a > section > figure{
    margin: var(--sect-el-margin);

    display: block;

    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    
    width: var(--img-len);
}

figure > img{
    object-fit: fill;
    border-radius: var(--but-bor-radius);
    height: 100%;
    width: 100%;
}

#interview{
    display: none;
}

#interview ul{
    list-style: none;
}

#interview ul > li{
    margin: calc(var(--sect-el-margin) / 2);
    padding: var(--sect-el-margin);
    
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);

    font-size: var(--sect-el-fntsize);
}

.interviewee{
    background-color: var(--snes-violet);
}

#recording{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#recording > figure{
    width: 90%;
    margin: var(--sect-el-margin);
}


#recording button{
    margin: var(--sect-el-margin);
    width: 90%;
}


audio{
    width: 100%;
    
    background-color: var(--snes-violet);
    border-radius: var(--but-bor-radius);
    border: var(--but-bor-width) solid var(--snes-purple);
}

audio::-webkit-media-controls-panel{
    background-color: var(--snes-violet);
}

#colors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#designideas{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
#designideas > img{
    margin: 2rem 0;
}
#designideas > div{
    margin: 2rem 0;
}

.colorblock{
    width: 4rem;
    height: 4rem;
    margin: 2rem 0;
}


/*Tablet*/
@media all and (min-width: 725px) {
    :root{
        --cont-pad: .75rem;
    
        --border-width: .3rem;
        --border-radius: 25px;
    
        --sect-el-margin: 1.75rem;
        --sect-el-fntsize: 1.3rem;
    
        --but-bor-radius: 15px;
        --but-margin-H: 2rem;
        --but-margin-W: .25rem;
        --but-width: 15rem;
        --but-height: 6rem;
        --but-font-size: 2rem;
    
        --audio-width: 35rem;

        --img-len: 8rem;
    }


    #sidebar button{
        font-size: .95rem;
    }
}

/*Desktop*/
@media all and (min-width: 1024px) {
	
	
	
	
} 
