:root{
    --snes-violet: #b5b6e4;
    --snes-purple: #4f43ae;
    --snes-grey: #908a99;
    --snes-white: #cec9cc;
    --snes-black: #211a21;

    --cont-pad: 1rem;
    --col-height: 75rem;
    --dot-len: 1.25rem;

    --border-width: .3rem;
    --border-radius: 25px;

    --sect-el-margin: .75rem;
    --sect-el-fntsize: 1.15rem;

    --but-bor-width: .2rem;
    --but-bor-radius: 15px;
    --but-margin-H: 1rem;
    --but-margin-W: .5rem;
    --but-width: 6rem;
    --but-height: 6rem;
    --but-font-size: 1.1rem;

    --audio-width: 20rem;
    --img-len: 8rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--snes-black);
}

header{
    margin: var(--cont-pad);

    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;

    background-color: var(--snes-violet);
}

header > h1{
    color: var(--snes-black);
    margin: calc(var(--sect-el-margin) *2) 0 0 0;
}

header div > h1, h2, h3{
    margin: 0 var(--sect-el-margin);
}

header > section{
    margin: calc(var(--sect-el-margin) * 2) 0;

    background-color: var(--snes-grey);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    width: 90%;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

header > section > figure{
    margin: var(--sect-el-margin);
    
    display: block;

    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    
    height: var(--img-len);
}

header > section > div{
    height: var(--img-len);

    margin: var(--sect-el-margin);

    background-color: var(--snes-white);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);

    display: flex;
    flex-flow: column;

    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

main{
    margin: 0 var(--cont-pad);

    height: auto;
    display: flex;
    flex-flow: column;

    justify-content: center;
    gap: var(--cont-pad);
}

footer{
    margin: var(--cont-pad);

    background-color: var(--snes-violet);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

#column{
    display: flex;
    flex-flow: row;
    gap: var(--cont-pad);
}

#dots{

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 99%;
}

.top-dots{
    margin-bottom: 0;
    margin-top: calc(var(--sect-el-margin) / 2);
}

.bot-dots{
    margin-top: 0;
    margin-bottom: calc(var(--sect-el-margin) / 2);
}

.dot{
    margin: 0 calc(var(--sect-el-margin) / 4);

    border-radius: 50%;

    height: var(--dot-len);
    width: var(--dot-len);

    background-color: var(--snes-purple);

    text-indent: calc(var(--dot-len) / 5);

    font-size: var(--dot-len);
    font-weight: bold;
}

#sidebar .bot-dots{
    border: .1rem solid blueviolet;
}

#sidebar .top-dots{
    border: .1rem solid blueviolet;
}

#sidebar{
    background-color: var(--snes-white);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    gap: var(--but-margin-H);

    width: calc(var(--but-width) + calc(var(--cont-pad) * 2));
}

button{
    height: var(--but-height);
    width: var(--but-width);

    border: var(--but-bor-width) solid var(--snes-purple);
    background-color: var(--snes-violet);
    border-radius: var(--but-bor-radius);
    color: var(--snes-purple);

    text-align: center;
    font-size: var(--but-font-size);
}

#sidebar button{
    margin: 0 var(--but-margin-W);
}


#sidebar #drop{ 
    display: flex;
    flex-flow: column;
    align-items: center;
}


#sidebar .drop-button
{
    margin: 0;
}

#sidebar #drop-content
{
    display: none;
    position: relative;
    margin-bottom: var(--but-margin-H);
}

#sidebar #drop-content a{
    float: none;
    display: block;
}

#sidebar #drop:hover #drop-content{
    display: flex;
    flex-flow: column;

    margin-top: var(--but-margin-H);
    gap: var(--but-margin-H);
}

#sidebar #drop-content button:hover{
    color: var(--snes-violet);
    background-color: var(--snes-grey);
}

#pagecontent{
    background-color: var(--snes-grey);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

#pagecontent > section{
    background-color: var(--snes-white);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    margin: var(--sect-el-margin) 0;

    width: 90%;
}


#pagecontent section > h1{
    font-size: calc(var(--sect-el-fntsize) * 1.25);
    text-align: center;

    padding: var(--sect-el-margin);
    margin: var(--sect-el-margin);

    color: var(--snes-black);
    background-color: var(--snes-violet);
    
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
}

#pagecontent section > p{
    font-size: var(--sect-el-fntsize);

    text-indent: var(--sect-el-fntsize);
    margin: var(--sect-el-margin);
}

a > section{
    background-color: var(--snes-violet);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    
    margin: var(--sect-el-margin);

    display: flex;
    flex-flow: row;
    align-items: center;
}


a > section > div{
    height: var(--img-len);

    padding: calc(var(--sect-el-margin) / 1.5);
    margin-right: var(--sect-el-margin);

    background-color: var(--snes-white);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);

    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

a > section > div h1, p{
    color: var(--snes-black);
    font-size: var(--sect-el-fntsize);
}

a > section > div h1{
    margin-bottom: var(--sect-el-margin);
}

a > section > figure{
    margin: var(--sect-el-margin);

    display: block;

    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    
    height: var(--img-len);
}

figure > img{
    object-fit: fill;
    border-radius: var(--but-bor-radius);
    height: 100%;
    width: 100%;
}

#interview{
    display: none;
}

#interview ul{
    list-style: none;
}

#interview ul > li{
    margin: var(--sect-el-margin);
    padding: var(--sect-el-margin);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    color: var(--snes-black);
    font-size: var(--sect-el-fntsize);
}

.interviewee{
    background-color: var(--snes-violet);
}

#recording{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#recording > figure{
    border: .1rem solid red;
    width: 90%;
    margin: var(--sect-el-margin);
}


#recording button{
    margin: var(--sect-el-margin);
    width: 90%;
}


audio{
    width: 100%;
    
    background-color: var(--snes-violet);
    border-radius: var(--but-bor-radius);
    border: var(--but-bor-width) solid var(--snes-purple);
}

audio::-webkit-media-controls-panel{
    background-color: var(--snes-violet);
}

#colors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#designideas{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
#designideas > img{
    margin: 2rem 0;
}
#designideas > div{
    margin: 2rem 0;
}

.colorblock{
    width: 4rem;
    height: 4rem;
    margin: 2rem 0;
}


/*Tablet*/
@media all and (min-width: 725px) {
    :root{
        --cont-pad: 1.25rem;
    
        --border-width: .3rem;
        --border-radius: 25px;
    
        --sect-el-margin: 1rem;
        --sect-el-fntsize: 1.5rem;
    
        --but-bor-radius: 15px;
        --but-margin-H: 2rem;
        --but-margin-W: .25rem;
        --but-width: 6rem;
        --but-height: 4rem;
        --but-font-size: 1rem;
    
        --audio-width: 35rem;

        --img-len: 5rem;
    }


    #sidebar button{
        font-size: .95rem;
    }


    #pagecontent{
        width: auto;
    }

    a > section{
        flex-flow: row;
    }
}

/*Desktop*/
@media all and (min-width: 1024px) {
	
	
	
	
} 
