:root{
    --snes-violet: #b5b6e4;
    --snes-purple: #4f43ae;
    --snes-grey: #908a99;
    --snes-white: #cec9cc;
    --snes-black: #211a21;

    --cont-pad: 2rem;

    --border-width: .3rem;
    --border-radius: 25px;

    --sect-el-margin: .75rem;
    --sect-el-fntsize: 1.15rem;

    --but-bor-width: .2rem;
    --but-bor-radius: 15px;
    --but-margin-H: 1rem;
    --but-margin-W: .5rem;
    --but-width: 6rem;
    --but-height: 6rem;
    --but-font-size: 1.1rem;

    --audio-width: 18rem;
    --img-len: 15rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--snes-black);
}

header{
    margin: var(--cont-pad);

    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    height: auto;

    text-align: center;

    display: flex;
    flex-flow: column;
    background-color: var(--snes-white);
}

header > h1{
    margin-top: 1rem;
}

header > section{
    margin: 1.5rem 2rem;
    background-color: var(--snes-grey);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
}


main{
    margin: 0 var(--cont-pad);
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: calc(var(--cont-pad) / 2);
}

footer{
    margin: var(--cont-pad);

    background-color: var(--snes-white);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}


#sidebar{
    background-color: var(--snes-white);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);

    display: flex;
    flex-flow: column;

    align-content: center;
    justify-content: flex-start;
    gap: var(--but-margin-W);

    width: calc(var(--but-width) + calc(var(--cont-pad) * 2));

    max-height: 45rem;
}

#sidebar button{
    margin: var(--but-margin-H) var(--but-margin-W);

    height: var(--but-height);
    width: var(--but-width);

    border: var(--but-bor-width) solid var(--snes-purple);
    background-color: var(--snes-violet);
    border-radius: var(--but-bor-radius);
    color: var(--snes-purple);

    text-align: center;
    font-size: var(--but-font-size);
}

#sidebar #nondrop{
    display: flex;
    flex-flow: column;
    align-items: center;
}


#sidebar #drop{ 
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: var(--but-margin-W);
}


#sidebar .drop-button
{
    margin: 0;
}

#sidebar #drop-content
{
    display: none;
    position: relative;
}

#sidebar #drop-content a{
    float: none;
    display: block;
}

#sidebar #drop:hover #drop-content{
    display: flex;
    flex-flow: column;
    gap: var(--but-margin-W);
}

#sidebar #drop-content button:hover{
    color: var(--snes-violet);
    background-color: var(--snes-grey);
}

#pagecontent{
    background-color: var(--snes-grey);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);
    width: 70%;
}

#pagecontent > section{
    background-color: var(--snes-white);
    border: var(--border-width) solid var(--snes-purple);
    border-radius: var(--border-radius);
    margin: 1rem;
}

#pagecontent section > h1{
    text-align: center;
    padding: var(--sect-el-margin);
    margin: var(--sect-el-margin);
    color: var(--snes-black);
    background-color: var(--snes-violet);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
}

#pagecontent section > p{
    text-indent: var(--sect-el-fntsize);
    margin: var(--sect-el-margin);
    font-size: var(--sect-el-fntsize);
}

a > section{
    background-color: var(--snes-violet);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    
    margin: var(--sect-el-margin);

    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}


a > section > div{
    padding: var(--sect-el-margin);
    margin: var(--sect-el-margin);

    background-color: var(--snes-white);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);

    display: flex;
    flex-flow: column;
    align-items: center;
}

a > section > div h1, p{
    color: var(--snes-black);
}


a > section > figure{
    margin: var(--sect-el-margin);

    display: block;

    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    
    height: var(--img-len);
    width: var(--img-len);
}

figure > img{
    object-fit: fill;
    border-radius: var(--but-bor-radius);
    height: 100%;
    width: 100%;
}

#interview ul{
    list-style: none;
}

#interview ul > li{
    margin: var(--sect-el-margin);
    padding: var(--sect-el-margin);
    border: var(--but-bor-width) solid var(--snes-purple);
    border-radius: var(--but-bor-radius);
    color: var(--snes-black);
    font-size: var(--sect-el-fntsize);
}

.interviewee{
    background-color: var(--snes-violet);
}


#recording figure{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: var(--sect-el-margin);
    align-items: center;
}


audio{
    margin: var(--sect-el-margin);
    width: var(--audio-width);
    background-color: var(--snes-violet);
    border-radius: var(--but-bor-radius);
    border: var(--but-bor-width) solid var(--snes-purple);
}

audio::-webkit-media-controls-panel{
    background-color: var(--snes-violet);
}

#colors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#designideas{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
#designideas > img{
    margin: 2rem 0;
}
#designideas > div{
    margin: 2rem 0;
}

.colorblock{
    width: 4rem;
    height: 4rem;
    margin: 2rem 0;
}


/*Tablet*/
@media all and (min-width: 725px) {
    :root{
        --cont-pad: 3rem;
    
        --border-width: .3rem;
        --border-radius: 25px;
    
        --sect-el-margin: 1.5rem;
        --sect-el-fntsize: 1.25rem;
    
        --but-bor-radius: 15px;
        --but-margin-H: 2rem;
        --but-margin-W: .25rem;
        --but-width: 6rem;
        --but-height: 4rem;
        --but-font-size: 1rem;
    
        --audio-width: 35rem;

        --img-len: 5rem;
    }

    #sidebar{
        width: auto;
        flex-flow: row;
        justify-content: center;
    }

    #sidebar button{
        font-size: .95rem;
    }

    #sidebar #nondrop{
        flex-flow: row;
    }

    #sidebar #drop{
        flex-flow: row;
    }

    #sidebar #drop:hover #drop-content{
        flex-flow: row;
    }

    #pagecontent{
        width: auto;
    }

    a > section{
        flex-flow: row;
    }

    main{
        flex-flow: column;
    }
}

/*Desktop*/
@media all and (min-width: 1024px) {
	
	
	
	
} 
